node_modules/
.DS_Store/

# TO DO: FROM MODULE INSTRUCTIONS:
# "MAKE SURE THAT YOUREMOVE 'DIST' FROM THE .GITIGNORE SO THAT GIT WILL TRACK THIS FOLDER AND INCLUDE IT WHEN YOU PUSH UP TO YOUR APPLICATION'S REPO
# ?????:  IS dist = .DS_Store/
